@font-face {
  font-family: Oswald;
  src: url(/assets/fonts/oswald-regular.ttf) format("opentype");
}

* {
  font-family: 'Oswald', sans-serif;
}
button {
height:50%;
width:50%;
margin:10%;
}
form {
  border-top: solid black 20px;
}
.wrapper{
  margin:20px;
}
.acme-title{
  font-weight: bold;
  font-size: xxx-large;
}
.bgGrey{
  background-color: lightgrey!important;
}

.questionNumber {
  font-weight: bold;
  font-size: x-large;
  width:20px;
  padding-right:10px;
}
.right{
  position: absolute;
  right:10px;

}
svg{
  background-color: gold;
  padding:5px
}
.mat-expansion-panel {
  padding-bottom: 15px;
  border-bottom: solid black 2px;
}
